1.What are the two values of the Boolean data type? How do you write them?

the two different types of boolean data types are True, False

2. What are the three different types of Boolean operators?

three are differnt types of boolean operators like and, or, not

3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

In [8]:
#and
[0 and 0,
0 and 1,
1 and 0,
1 and 1]

[0, 0, 0, 1]

In [9]:
#or
[0 or 0,
0 or 1,
1 or 0,
1 or 1]

[0, 1, 1, 1]

In [10]:
[not 0, not 1]

[True, False]

4. What are the values of the following expressions?
(5 &gt; 4) and (3 == 5)
not (5 &gt; 4)
(5 &gt; 4) or (3 == 5)
not ((5 &gt; 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

In [11]:
[(5 > 4) and (3 == 5),not (5> 4), (5 > 4) or (3 == 5),not ((5 > 4) or (3 == 5)),(True and True) and (True == False),
(not False) or (not True)]

[False, False, True, False, False, True]

5. What are the six comparison operators?

<,>,==,!=,>=,<=

6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

In [12]:
#= : is a assignment operator it assignes values 
a=42
a

42

In [14]:
# == : comparision operator is used to compare whether the value is equal which would return true if condition satisfies 
#else false
a=10
a==10

True

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print(&#39;eggs&#39;)
if spam &gt; 5:
print(&#39;bacon&#39;)
else:
print(&#39;ham&#39;)
print(&#39;spam&#39;)
print(&#39;spam&#39;)

the three blocks are if , if , else block

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [18]:
spam=int(input('please insert value for spam'))

if spam==1: print('Hello')
elif spam ==2: print('Howdy')
else : print("Greetings!")

please insert value for spam6
Greetings!